section {width: 600px;}
section.Add {text-align: left; position: absolute; top: 150px; left: 20px; background-color: lightblue; visibility: hidden;}
section.Change {text-align: left; position: absolute; top: 150px; left: 20px; background-color: lightgreen; visibility: hidden;}
section.Delete {text-align: left; position: absolute; top: 150px; left: 20px; background-color: lightgrey; visibility: hidden;}
h1{font-family: sans-serif; text-align: center;}
h2{font-family: sans-serif; text-align: center;}
footer {position: absolute; top: 500px; left: 20px; width: 600px; font-style: italic; text-align: center; color: #F5F5DC; background-color: #191970;}
.id{font-style: italic;color: red;}
